---
layout: default
title: Gallery
---
<div class="gallery-background">

    {% for item in site.data.albums %}
    <div class="album-wrapper text-white mt-4 mb-4" onclick="growDiv({{forloop.index}})">
        <div class="album-thumbnail-wrapper">
            <div class="album-label">
                <h2>{{item.name}}</h2>
                <h6>{{item.date}}</h6>
            </div>
            <img class="album-thumbnail" src="{{item.thumbnail}}" alt="{{item.name}} image">
        </div>
    </div>

    <div id="grow-{{forloop.index}}" class="grow mt-4 mb-4">
        <div class='measuringWrapper-{{forloop.index}}'>
            <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
            <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;">

                {% for photo in item.photos %}
                <object data="{{photo}}"></object>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>