<footer class="footer-section">
    <div class="container">
        <div class="row text-white text-center align-items-center justify-content-center">
            <div class="col-sm-4 p-2">
                © David Baker
            </div>
            <div class="col-sm-4 p-2 d-flex justify-content-center">
                <div class="logo">
                    <img src="assets/images/david_baker.svg" alt="logo image">
                </div>
            </div>
            <div class="col-sm-4 p-2 text-center">
                Designed by <a href="https://yasmeenalmuhanna.com/">Yasmeen Almuhanna</a>
                </br>
                Built by <a href="https://www.davidmbaker.dev">David Baker</a>
            </div>
        </div>
    </div>
</footer>