{% include base.html %}

<div class="user-section">
    <div class="user-img">
        <img src="{{base}}/assets/images/david-pic-2.jpg" alt="david-img" class="img-fluid" />
    </div>
    <div class="user-info">
        <h3 class="text-center pt-2">David Baker</h3>
        <div><i class="fas fa-link"></i><a class="ps-2" href="https://www.davidmbaker.dev"
                target="_blank">https://davidmbaker.dev</a></div>
        <div><i class="fab fa-github"></i><a class="ps-2" href="https://github.com/dmbaker90"
                target="_blank">https://github.com/dmbaker90</a></div>
        <hr>
        <p>The purpose of this blog is to share my own thoughts, experiences, or observations on code I've
            written, books I've read, or anything else on my mind. It primarily serves as a reference for
            myself; learning something while knowing I will be writing about it helps me learn it. Likewise,
            writing about something I've recently learned helps me retain it.</p>
    </div>
</div>