.background-black {
  background: black;
}

.background-gradient-1 {
  background: linear-gradient(to bottom, black, #161D57);
}

.background-gradient-2 {
  background: linear-gradient(to bottom, #161D57, #25306A);
}

.background-gradient-3 {
  background: linear-gradient(to bottom, #25306A, #B7E3E7);
}

.background-gradient-4 {
  background: linear-gradient(to bottom, #B7E3E7, #E9CDB7);
}

.background-gradient-5 {
  background: linear-gradient(to bottom, #E9CDB7, #FF8C4C);
  // #EAB1A0);
}

// INTRO SECTION
.intro-section{
  padding: 10rem 0;
  width: 100%;
  height: 100%;
  // background-image: url('../images/starsWithoutCancerConstellation.svg');
  // background-repeat: repeat-x;
}

// ABOUT SECTION
.about-section{
  padding: 10rem 0;
  width: 100%;
  height: 100%;
}

// SKILLS SECTION
.skills-section {
  padding: 0 0 5rem 0;

  &__logo-box {
      max-width: 100%;
      height: 5rem;
      margin-bottom: 2rem;
      padding: 0.5rem;
      text-align: center;
      position: relative;
      background: white;
      border-radius: 10px;
      background: white;

      img {
          height: 100%;
          
          &:hover {
              filter: grayscale(120)
          }
      }
  }
}

// PORTFOLIO SECTION
.portfolio-section {
  position: relative;
  padding: 1rem 0;

  &__content {
      padding: 1rem;
      margin-top: 0rem;

      p {
          font-size: 0.8rem;

          @include media-breakpoint-up(lg){
              font-size: 1rem;
          }
      }

      @include media-breakpoint-up(lg){
          margin-top: 3rem;
      }

      .icon {
          font-size: 1.5rem;
          color: $primary;

          @include media-breakpoint-up(lg){
              font-size: 2.5rem;
          }
      }
  }

  &__pic {
      max-width: 100%;
      img {
        border-radius: 50px;
        border: 3px solid black;
      }
  }
}