.background-black {
  background: black;
}

.background-gradient-1 {
  background: linear-gradient(to bottom, black, #161D57);
}

.background-gradient-2 {
  background: linear-gradient(to bottom, #161D57, #25306A);
}

.background-gradient-3 {
  background: linear-gradient(to bottom, #25306A, #B7E3E7);
}

.background-gradient-4 {
  background: linear-gradient(to bottom, #B7E3E7, #E9CDB7);
}

.background-gradient-5 {
  background: radial-gradient(ellipse at bottom, whitesmoke 20.4%, #FAED1F 20%, orangered 45%, #E9CDB7 70%)
  // #EAB1A0);
}

// INTRO SECTION
.intro{
  padding: 10rem 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background-image: url('../images/starsWithoutCancerConstellation.svg');
  // background-repeat: repeat-x;
}

// ABOUT SECTION
.about{
  padding: 10rem 0;
  width: 100%;
  height: 100%;
}

// SKILLS SECTION
.skills {
  padding: 0 0 5rem 0;

  &__logo-box {
      max-width: 100%;
      height: 5rem;
      margin-bottom: 2rem;
      padding: 0.5rem;
      text-align: center;
      position: relative;
      background: white;
      border-radius: 10px;
      background: white;

      img {
          height: 100%;
          
          &:hover {
              // filter: grayscale(120)
          }
      }
  }
}

.mountains-relative {
  position: relative;
}

.mountains-layer-2{
  position: absolute;
  top: 25%;
  width: 100%;
}

.mountains-layer-3{
  position: absolute;
  top: 58%;
  width: 100%;
}

.mountains-layer-4{
  position: absolute;
  top: 90.5%;
  width: 100%;
}

.mountains-layer-5 {
  position: relative;
  top: 90%;
  width: 100%;
}

.bring-to-front {
  position: relative;
  z-index: 4;
}

.blog {
  background: #0A223A;
  .blog-container{
    margin-bottom: 16px;
    .home-blog-card {
      background: aliceblue;
      border: 1px solid black;
      border-radius: 10px;
      padding: 16px;
      height: 100%;
    }
  }
}

.no-link-color{
  // color: none;
  // text-decoration: none;

}

.pointer {
  cursor: pointer;
}

pre {
  padding: 1em;
}

.break-word { 
  word-break: break-word;
}