.blog-main {
    // margin: 0 auto;
    background: #F6F6F6;
}

.blog-card {
    background: white;
    box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16),2px 0 2px 0 rgba(0,0,0,0.16),0 2px 2px 0 rgba(0,0,0,0.23);
    margin: 16px 0;
    padding: 16px;

    &:hover{
        // -webkit-transform: translate3d(0, -3px, 0);
        // transform: translate3d(0, -3px, 0);
        cursor: pointer;
    }
}

.user-description {
    img {
        border-radius: 50%;
        box-shadow: 0 0 0 1px var(--color-avatar-border);
    }
}

.site-tag a {
    display: inline-block;
    margin-right: 12px;
}

.twitter-xkcd {
    height: 1000px;
    overflow: scroll;
}

.sidekick {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid #039be5;
    font-family: 'Roboto', serif;
    font-size: 1.4rem;
    line-height: 1.5em;
    font-weight: 100;
  }
  .sidekick span:before, .sidekick span:after {
    font-family: Calibri;
      color: #039be5;
      font-size: 34px;
  }
  .sidekick span:before {content: '\201e'}
  .sidekick span:after {content: '\201c';}
  .sidekick cite {font-size: 50%; text-align:start; top:50%; display: block;}
  .sidekick cite:before {content: ' \2015 '}

