@import '../custom';
@import '../components/mixins';

.menu {
    // @include gradient;
    // background: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    li {
        padding: 0 0.7rem;
        border: 1px solid transparent;
    }

    a {
        color: $white !important;
        text-transform: capitalize;
        font-weight: 600;
    }

    li:hover{
        border: 1px solid white;
    }
}

.navbar-brand {
    img {
        height: 50px;
    }
}